@import 'antd/dist/antd.less';
@primary-color: #ED4192;       
@border-radius-base: 20px;    
@layout-sider-background: #2b1828; 
@menu-item-active-bg: #ED419220; 
@menu-highlight-color: #ED4192;    
@layout-header-background: #fff;  
@component-background: #fff;      
@breadcrumb-color: #ED4192;       
.ant-layout-sider-trigger {
  background-color: #ED4192 !important;
}
.ant-menu-dark .ant-menu-item:hover {
  background-color: #ED419230 !important;
}
.ant-breadcrumb a {
  color: #ED4192 !important;
}